<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>Arabesque nº 1</ion-title>
      <ion-button slot="end">
        <i *ngIf="addedToFavourite" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite()"></i>
        <i *ngIf="!addedToFavourite" class="far fa-heart float-end" (click)="handleAddToFavourite()"></i>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/Ara p1.jpg">
      <img src="assets/Ara p2.jpg">
      <img src="assets/Ara p3.jpg">
      <img src="assets/Ara p4.jpg">
      <img src="assets/Ara p5.jpg">
      <ion-card-title>Song Info</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
 <p>  Title: Arabesque nº 1</p>
 <p> Artist: Debussy</p>
 <p>  Key: E Major</p>
 <p>  Metronome: 88</p>
 <p>  Styles:	Classical</p>
 <p> Difficulty: Difficult</p>
 <p> Page: 5</p>
 <iframe width="300" height="315" src="https://www.youtube.com/embed/cVYH-7QGE-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

</div>

</ion-content>
