<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>How to Read Music Made Easy</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-header>
    </ion-header>
    <ion-card-content>
      <ion-label>Every great musician didn't know a thing when they started. If you're ready to follow in their footsteps this guide is the perfect place to start. By the time you get to the end you'll be well on your way to being a great musician too!</ion-label>
      <ion-label2><b>The Staff</b></ion-label2> <br>
      <ion-label>The staff is made up of five lines and four spaces. These lines and spaces, together with a clef, show us how high or low to play the notes.</ion-label>
      <img src="assets/musical-staff.jpg"> 
      <ion-label2><b>The Clefs</b></ion-label2> <br>
      <ion-label>The two most common clefs are the TREBLE CLEF (G Clef) and the BASS CLEF (F Clef).</ion-label>
      <img src="assets/treble-clef.jpg"> 
      <ion-label>The notes in the TREBLE CLEF (G Clef) are the middle and high notes. The purpose of this clef is to show where "G" is positioned on the staff. (The "G" line is the second line from the bottom, where the treble clef gets all swirly.)</ion-label>
      <img src="assets/bass-clef.jpg"> 
      <ion-label>The notes in the BASS CLEF are the middle and low notes. The purpose of this clef is to show where "F" is positioned on the staff. (The "F" line is the fourth line from the bottom, in between the two dots.)</ion-label>
  <ion-label>All other notes are positioned on the staff relative to these notes.</ion-label>
  <img src="assets/grand-staff-piano.jpg"> 
  <ion-label2><b>Rhythms</b></ion-label2> <br>
  <ion-label>A basic set of note values include the whole note, dotted half note, half note and quarter note. In a single piece of music a composer will use a variety of rhythmic values.</ion-label>
  <img src="assets/whole-note.jpg"> 
  <ion-label>The WHOLE NOTE receives 4 BEATS (Count 1-2-3-4)</ion-label>
  <img src="assets/dotted-half-note.jpg"> 
  <ion-label>The DOTTED HALF NOTE receives 3 BEATS (Count 1-2-3)</ion-label>
  <img src="assets/half-note.jpg"> 
  <ion-label>The HALF NOTE receives 2 BEATS (Count 1-2)</ion-label>
  <img src="assets/quarter-note.jpg"> 
  <ion-label>The QUARTER NOTE receives 1 BEAT (Count 1)</ion-label>
  <ion-label2><b>Rests</b></ion-label2> <br>
  <ion-label>Music is both a combination of sound and silence. The length of the silence in music is determined by a rest.</ion-label>
  <img src="assets/whole-rest.jpg"> 
  <ion-label>The WHOLE REST is a unique rest. It often means to rest for four beats, though simply means rest for the "whole" measure.</ion-label>
  <img src="assets/half-rest.jpg"> 
  <ion-label>The HALF REST receives 2 BEATS (Count 1-2)</ion-label>
  <img src="assets/quarter-rest.jpg"> 
  <ion-label>The QUARTER REST receives 1 BEAT (Count 1)</ion-label>
  <ion-label2><b>Key Signature</b></ion-label2> <br>
  <ion-label>Following the clef is the KEY SIGNATURE.</ion-label>
  <img src="assets/key-signature.jpg"> 
  <ion-label>The KEY SIGNATURE tells you which notes to play flat or sharp.</ion-label>
  <ion-label>Sometimes there are flats or sharps in the key signature. Sometimes there's nothing at all. If flats appear in the key signature, those notes should be lowered one half step throughout the piece. If sharps appear in the key signature, those notes should be raised one half step throughout the piece.</ion-label>
  <ion-label2><b>Time Signature</b></ion-label2> <br>
  <ion-label>Following the key signature is the TIME SIGNATURE. It's the two numbers that look like a fraction (but it's not). Each number has a specific thing to tell you about the piece.</ion-label>
  <img src="assets/time-signature.jpg"> 
  <ion-label>The TOP NUMBER tells you how many beats there are in each measure.</ion-label>
  <ion-label>The BOTTOM NUMBER tells you what kind of note get the beat.</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
