<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>How to read Sheet Music</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-content>
      <ion-label2><b>Staff and Treble Clef</b></ion-label2> <br>
      <ion-label>The Staff is the region where we write the musical notes. This region is formed by lines and spaces. Each line and space is used to represent a different musical note. In the figure below, you can see the lines (1st, 2nd, 3rd, 4th and 5th):</ion-label>
      <img src="assets/how-to-learn-sheet-music.png">
      <ion-label>Notice how there are 5 lines on the staff. It is also possible to create more lines to reach other octaves (the first C note in this example, as well as the last A note, are on extra lines, also called “ledger lines“). We will talk about these extra lines shortly, for now just note that each line and space are used to represent a different note in sequence.</ion-label>
  <ion-label2><b>Treble Clef</b></ion-label2> <br>
  <ion-label>Musicians, throughout history, have chosen different positions for notes in the lines of the staves. That is why the clefs, symbols that would serve to signal the note and the reference line that were adopted, were invented.

    The most widely used clef for guitar, piano and voice is the treble clef (or G-clef). It received this name because it says that the note on the second line will be called G. Notice how the drawing of the clef itself begins on the 2nd line (indicated in red in the figure below). Very well, now that you already know where G is, you can register all the other notes following the same logic that we saw above:</ion-label>
    <img src="assets/treble-clef.png">
  <ion-label>Now let’s clarify what is the relationship of these dots on paper with the instrument. The figure below shows the octaves of an ordinary piano. Notice how each C has a different position on the staff, depending on the octave it is on. We will use a number next to the letter C (for example: C3) to say which octave it is in:</ion-label>
  <img src="assets/central-c.png"> 
  <ion-label3>Treble Clef</ion-label3>
  <ion-label>There are two main clefs with which to familiarize yourself; the first is a treble clef. The treble clef has the ornamental letter G on the far left side. The G’s inner swoop encircles the “G” line on the staff. The treble clef notates the higher registers of music, so if your instrument has a higher pitch, such as a flute, violin, or saxophone, your sheet music is written in the treble clef. Higher notes on a keyboard also are notated on the treble clef.</ion-label>
  <img src="assets/treble clef.png"> 
  <ion-label>For you to locate yourself even further, we are going to enlarge the octave highlighted in red (central C) and show the matching instrument notes registered on the staff:</ion-label>
  <img src="assets/sheet-music.png">
</ion-card-content>
  </ion-card>

</div>

</ion-content>
