<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>BASIC MUSIC THEORY FOR BEGINNERS</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-header>
    </ion-header>
    <ion-card-content>
      <ion-label>This basic music theory guide looks at fundamental concepts musicians use to understand, analyze, and create music.</ion-label>
      <img src="assets/Laptop-and-Sheet-Music-652x435@2x.jpg"> 
      <ion-label2><b>WHAT IS MUSIC THEORY?</b></ion-label2> <br>
      <ion-label>Music theory is a practice musicians use to understand and communicate the language of music. Musical theory examines the fundamentals of music. It also provides a system to interpret musical compositions.

        For example, basic music theory defines the elements that form harmony, melody, and rhythm. It identifies compositional elements such as song form, tempo, notes, chords, key signatures, intervals, scales, and more. It also recognizes musical qualities such as pitch, tone, timbre, texture, dynamics, and others.</ion-label>
      <img src="assets/Laptop-and-Sheet-Music-652x435@2x.jpg"> 
      <ion-label2><b>HOW TO LEARN MUSIC THEORY?</b></ion-label2> <br>
      <ion-label>Music theory is a complex and extensive subject. There are several practices, disciplines, and concepts.</ion-label>
      <ion-label>Best to learn music fundamentals first before exploring advanced music theory. The building blocks that form musical compositions include:</ion-label>
      <ion-label>Harmony</ion-label>
      <ion-label>Melody</ion-label>
      <ion-label>Rhythm</ion-label>
      <ion-label>Solidly understanding these three core elements will help you learn basic music theory.</ion-label>
      <ion-label2><b>WHAT IS HARMONY IN MUSIC?</b></ion-label2> <br>
      <ion-label>Harmony is when multiple notes or voices play simultaneously to produce a new sound. The combined sounds in harmonies complement one another and sound pleasing.</ion-label>
      <ion-label>Chords and chord progressions are examples of harmony. A chord has three or more notes that play at the same time. The chords and chord progressions in a piece of music support or complement the melody.</ion-label>
      <ion-label>Combining vocal parts also creates harmony. The combined voices of a choir are a perfect example. The multiple voices that make up a choir blend to make a harmonious sound.</ion-label>
      <ion-label>However, not all harmonies are pleasing to our ear. There are two main types of harmony: dissonant and consonant.</ion-label>
      <ion-label>Dissonant harmony adds notes that do not sound pleasant when played together. The result adds tension and makes the chord sound unstable. This tension releases by resolving to consonant chords. Dissonant interval examples are seconds, sevenths, and ninths</ion-label>
      <ion-label>Consonant harmony sounds stable and pleasing. All the notes in a consonant chord have intervals that play nicely together. Constant chords also transition smoothly with one another in a progression. Consonant interval examples are unison, thirds, fifths, and octaves.</ion-label>
      <ion-label>Musicians combine consonant and dissonant harmonies to make the music more exciting and intriguing.</ion-label>
  <ion-label2><b>WHAT IS MELODY IN MUSIC?</b></ion-label2> <br>
  <ion-label>Melody is a succession of notes or voices arranged into a musical phrase. A song’s melody is often the most memorable and recognizable part.</ion-label>
  <ion-label>Melodies can be created with instruments or vocals. They have two or more notes in a sequence that sound musically pleasing. Most compositions consist of multiple melodies that repeat.</ion-label>
  <ion-label>The two primary elements of a melody are pitch and rhythm:</ion-label>
  <ion-label>Pitch is the audio vibration produced by an instrument or voice. It’s how high or low a note will sound. Arranging these pitches in a series creates a melody.</ion-label>
  <ion-label>Rhythm or duration is the length each pitch will sound. These durations are divided into beat divisions like whole notes, half notes, quarter notes, triplets, etc.</ion-label>
  <ion-label>Melodies also have two types of melodic motion: conjunct or disjunct.</ion-label>
  <ion-label>Conjunct motion is when notes move by whole or half steps. Conjunct is also the most natural and comfortable to play and sing. There are shorter leaps between notes.</ion-label>
  <ion-label>Disjunct motion has larger leaps between notes. Large interval leaps between notes can make the melody difficult to play or sing. Disjunct motion is also less memorable and smooth sounding.</ion-label>
  <ion-label>Musicians combine conjunct and disjunct motion to give melodies more variation and interest.</ion-label>
  <ion-label2><b>WHAT IS RHYTHM IN MUSIC?</b></ion-label2> <br>
  <ion-label>Rhythm is an essential element of music with more than one meaning. For example:</ion-label>
  <ion-label>Rhythm is a recurring movement of notes and rests (silences) in time. It’s the human perception of time.</ion-label>
  <ion-label>Rhythm also describes a pattern of strong and weak notes or voices that repeat throughout a song. These patterns can be created with drums, percussion, instruments, and vocals.</ion-label>
  <ion-label>The basic elements that comprise musical rhythm include:</ion-label>
  <ion-label>Beat – A repeating pulse that underlies a musical pattern</ion-label>
  <ion-label>Meter – A specific pattern of strong and weak pulses</ion-label>
  <ion-label>Time Signature – The number of beats per measure</ion-label>
  <ion-label>Tempo (BPM) – Indicates how fast or slow a piece of music plays</ion-label>
  <ion-label>Strong and Weak Beats – Strong beats are the downbeats, and weak beats are the offbeats between the downbeats</ion-label>
  <ion-label>Syncopation – Rhythms that accent or emphasize the offbeats</ion-label>
  <ion-label>Accents – Refers to the intensity or emphases placed on notes</ion-label>
  <ion-label>Understanding rhythm will help you create great harmonies and melodies.</ion-label>
  <ion-label>Also, the rhythm section or pulse propels a piece of music. It acts as the rhythmic backbone for other musical elements.</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
