<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>Learn to read music from scratch</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-header>
      <img src="assets/learn-to-read-music.png"> 
    </ion-header>
    <ion-card-content>
      <ion-label2><b>Learning to play</b></ion-label2> <br>
      <ion-label>If you are learning to play an instrument such as the piano, guitar, violin, clarinet etc. you should learn to read music as you learn your instrument. When you learn new notes make sure you can read them on the music staff. Never write letter names under notes at this stage - this will do more harm than good and will not help in the long run.</ion-label>
      <ion-label>If you are learning to read music but don't play an instrument I suggest using the piano keyboard layout as you learn the notes. A small keyboard such as the Yamaha PSR E-223 is only $99 and ideal for helping understand theory if you don't already play the keyboard.</ion-label>
  <ion-label2><b>Learn the order of the notes</b></ion-label2> <br>
  <ion-label>If you can remember a telephone number, you can learn the order of the notes. The specific order you need to learn is</ion-label>

   <ion-label> E - G - B - D - F - A - CIt is as simple as that. Memorize the sequence of letters. You may wish to use a mnemonic such as Every Good Boy Deserves Fun And Chocolatebut you will find it faster in the long run if you just memorize the letters in that order.</ion-label>
  <ion-label2><b>Take your time when you learn to read music:
    It isn't a race!</b></ion-label2>
  <ion-label>Take your time to learn the order. It is important you commit it totally to memory. Write it down on a piece of paper, put it in a document and keep it open on your computer, take a photo of the letters and turn it into your desktop picture, put sticky notes around for the day, say the letters through to yourself as you go through your normal daily activities, read them out loud, test yourself writing them down...but learn them in this order</ion-label>
  <ion-label>E - G - B - D - F - A - C</ion-label>
  <ion-label>Knowing this order is very important if you wish to learn to read music successfully</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
