<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>Music Theory For Beginners</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-header>
    </ion-header>
    <ion-card-content>
      <ion-label>Music theory for beginners doesn’t have to be scary. Learning music theory improves your knowledge as a guitarist and makes EVERYTHING easier. In this lesson we’re going to show you everything you need to know about music theory.</ion-label>
      <ion-label2><b>You already know more music theory than you think…</b></ion-label2> <br>
      <ion-label>This is the good news about music theory. Everything about music theory for beginners, even the numbers behind chords and the way we have to count to four, is about clearly communicating the function or job of every aspect of a song, and it should make sense once you understand these eight fun facts about music.</ion-label>
      <img src="assets/musicBeginner.jpg"> 
      <ion-label2><b>Music Theory For Beginners – The Notes</b></ion-label2> <br>
      <ion-label>You know that in any song, some notes are higher and some are lower. That idea is called pitch.If you want to learn music theory for beginners, you must learn about pitch.Let’s break it down.</ion-label>
      <ion-label>Pitch is measured out on the guitar by the frets. Each fret on the guitar represents an interval of pitch called a half step. </ion-label>
      <ion-label>The pitch names of notes use a musical alphabet that goes A, B, C, D, E, F, G.</ion-label>
      <ion-label>To go up one letter of the musical alphabet, you go up two frets, or a whole step, with two exceptions: To go from B to C, or from E to F, you only go up a half step, or one fret.</ion-label>
      <ion-label>These two exceptions are called natural half steps, and to remember where they are, remember this: Big Cats Eat Fish.</ion-label>

  <ion-label2><b>What about the notes in between the musical alphabet?</b></ion-label2> <br>
  <ion-label>So if F plus a whole step is G, what should you call F plus a half step? Ah, this is where sharps and flats come in.Each of those in-between-letters notes have two names, a sharp (#) name and a flat (b) name. Let’s break it down:</ion-label>
  <ion-label>Sharp means “up one half step,” so that note in between F and G can be called F#, or F sharp.</ion-label>
  <ion-label>Flat means “down one half step,” so that same note can also be called Gb.</ion-label>
  <ion-label2><b>Woah! That’s confusing, which one should I use?</b></ion-label2> <br>
  <ion-label>When learning music theory for beginners, it’s important to understand that guitars tend to play in sharps, as do all stringed instruments.</ion-label>
  <ion-label>So, because of this you can just call all of those in-between notes sharps.</ion-label>
  <ion-label>Put all of those notes together, and you’ve got yourself a chromatic scale!</ion-label>
  <ion-label>Now, the chromatic scale is just the name given to all the notes used in western music, showing you how the notes are organized by pitch. It looks like this, going clockwise</ion-label>
  <img src="assets/image-3-1.jpg"> 
  <ion-label>The lines going between the notes show where the fifths are. If C is first, G is fifth, and the fifth is an important relationship between notes, as you’ll see later.</ion-label>
  <ion-label2><b>Music Theory For Beginners – The Major Scale</b></ion-label2> <br>
  <ion-label>If Western music has a structure, that structure is the major scale. There is a pattern of whole steps (W) and half steps (H) that goes like this:</ion-label>
  <ion-label>Whole.</ion-label>
  <ion-label>Whole.</ion-label>
  <ion-label>Half.</ion-label>
  <ion-label>Whole.</ion-label>
  <ion-label>hole.</ion-label>
  <ion-label>Whole.</ion-label>
  <ion-label>Half.</ion-label>
  <ion-label>You can also think of it like this: W W H – W – W W H.</ion-label>
  <ion-label>You can play a major scale on your guitar right now. Just start on any open string, and then go up this sequence of frets: 2 2 1 – 2 – 2 2 1. It should sound like “Do-re-mi.”</ion-label>
  <ion-label>Here is a chart of all of the notes in all of the major scales. Learning these is a sign that you have absolutely mastered music theory for beginners.</ion-label>
  <img src="assets/image-4-2.jpg"> 
  <ion-label>Don’t worry about memorizing the notes in all of the scales. Memorize the formula and then try to construct major scales, remember these music theory for beginners cardinal rules of acale construction:</ion-label>
  <ion-label>Major scales have either sharps or flats, but not both.</ion-label>
  <ion-label>A major scale runs sequentially through the musical alphabet, so you may not repeat a letter or skip a letter. Each letter happens once until you get through the scale.</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
