<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button>   
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/5-of-The-First-Easiest-Songs-You-Should-Learn-on-Piano.jpg">
      <ion-card-title><h1>Learning how to play the piano: The basics in 13 steps</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Learn how to play piano with us in only 13 steps for free!
        In our crash course for beginners we teach you the (not at all boring) theoretical basics at home:</ion-label>
      <ion-label>The names of all the notes on the keyboard</ion-label>
      <ion-label>Whole and half notes</ion-label>
      <ion-label>Note values and rests</ion-label>
      <ion-label>Beat and tempo</ion-label>
      <ion-label>Let’s go!</ion-label> 
      <ion-label2>Step 1: Get to know the keyboard with notes</ion-label2><br>
      <ion-label>If you look at the keyboard for the first time you might think that there are a lot of notes to learn.</ion-label>
      <img src="assets/1.jpg">
      <ion-label>But it is actually easier than it seems:</ion-label>
       <ion-label>You really only need to learn 12 notes!</ion-label>
       <ion-label>The grey area on the keyboard shows you the notes you should know.</ion-label>
       <img src="assets/2.jpg">
       <ion-label>The notes on this keyboard are grouped into 6 groups of 12 notes. Each group consists of 7 white keys and 5 black keys. Look at the graphic above – the group is repeated to the left and right several times. Each group starts with a “C” note (see mark), which is located to the left of two consecutive black keys.﻿</ion-label>
       <ion-label>Let’s take a closer look at the “C” notes. Remember how you can find them on the keyboard? They are always to the left of a pair of black keys. This is important to remember, because before playing any song you have to find the “C” on the keyboard first.</ion-label>
       <ion-label>Exercise: As a little exercise, try to find all “C” notes on the keyboard.</ion-label>
       <ion-label>Since it might be a bit difficult to find the “C” notes at the beginning, just concentrate on middle “C” for now. As the name suggests, it is located at the middle of the keyboard, right in front of you when you sit at the piano. Take a look at the picture above. You will see lines, symbols and numbers. This is a notation system. Middle “C” is located in the middle of this, as well.</ion-label>
       <ion-label>If music is a language, the notation system is like written text. Like any language, music is based on rules and uses special symbols. The notation defines which notes have to be played at a certain point in time. The above score shows a note – middle “C”. Let’s get to know some more notes in the notation system and learn how they relate to the keyboard.</ion-label>
       <ion-label>Here you can see further “C” notes and how they are represented in the notation system.</ion-label>
       <ion-label><b>Do you recognise middle “C” in the shaded area?</b></ion-label>
       <img src="assets/3.jpg">
       <ion-label>
        To the left and right of it there are additional “C” notes.</ion-label>
       <ion-label>If you count the white and black keys on the keyboard, you can see that there are 12 keys (notes) between the “C” notes. In the notation system, on the other hand, there are 8 lines and spaces between the “C” notes.</ion-label>
       <ion-label>This sequence of notes (12 on the keyboard, 8 in the notation system) is called an octave. In the above picture you can see the octaves on the keyboard and in the notation system – from one “C” to the next. We will learn all the notes in one octave (1 group) – focusing on the octave that contains middle “C”.</ion-label>
       <ion-label>Note: Keyboards come in different sizes and with different numbers of keys, so don’t panic if you count more “C” notes than in the picture. Just look out for a pair of black keys; the next white key to the left is always a “C” note.</ion-label>
       <ion-label>Now that you’ve learned the “C” notes, it is time to learn the other 11 notes in an octave.</ion-label>
       <ion-label>Learning an instrument always represents a certain challenge – regardless of age and musical background.</ion-label>
       <ion-label>We at music2me want to help you find the optimal introduction to playing the piano. Here, you can learn, try out, and practice the basics – all in 13 easy steps!</ion-label>
       <ion-label>The piano lessons show our piano teacher from your perspective. This makes it a lot easier to place your fingers correctly – and you don’t even have to know all the notes. Please try learning how to play the piano with us!</ion-label>
       <ion-label>We have tried to make this beginner tutorial for piano as easy as possible.</ion-label>
       <ion-label>All you need is a small portable keyboard. It doesn’t necessarily have to be a real piano – a small Casio or Yamaha keyboard with built-in speakers and touch-sensitive keys will do just fine.</ion-label>
       <ion-label>So – get to the keys and let’s go!</ion-label>
       <ion-label2>Step 2: Half steps on the keyboard</ion-label2><br>
       <ion-label>In the previous chapter you learned where the “C” notes on the keyboard are and where middle “C” is. You already know the other notes on the white keys and should be ready for the black keys.</ion-label>
       <ion-label>The notes on the piano are divided into “half steps“. Look at middle “C” on the keyboard – the distance in pitch from here to the first black key on the right is a half step. The step from this black key to the “D” key is again a half step. A black key is therefore always a half step interval away from the next white key.</ion-label>
       <ion-label>Next, look at the “E” and “F” keys – the distance between them is also a half step. This may sound a little confusing at first, as there is no black key between the keys. We don’t want to delve too deeply into music theory at this point yet, so just note the following for starters: From one key to the very next (whether it is black or white) is a half step. This knowledge is important in order to later understand the concept of sharp and flat notes.</ion-label>
       <ion-label>Now that you know about half steps, let’s take a look at sharp notes. A sharp note is a semitone step above a note – the # symbol (called sharp and not hashtag!) is used to identify it. Whenever you see the sharp next to a note, the note is played a half step higher. The word sharp is added to the name of the note.</ion-label>
       <ion-label>For a better understanding look at middle “C” on the keyboard above. If you raise it by one half step, you will land at the first black key to the right which is called “C sharp”.</ion-label>
       <ion-label>But what does this look like in the notation system?</ion-label>
       <ion-label>Look at middle “C” in the notation system above. As you can see, it is combined with a sharp and should therefore be played a half step above the middle “C”. The note played is called a “C sharp” and corresponds to the first black key to the right of middle “C”.</ion-label>
       <ion-label>Now, look at each note within an octave and find the sharp notes on the keyboard. There are five in total – one for each black key. Their names are:</ion-label>
       <ion-label>C# – D# – F# – G# – A#</ion-label>
       <ion-label>The same concept applies to flat notes. As you might have already suspected, every black key has two names. Don’t let this confuse you – the reason for this will soon make sense to you.</ion-label>
       <ion-label>Now, we look at the flat notes. A flat pitched note is one half step lower than the note – the letter b is used to identify a flat note. Whenever you see a b next to a note, the note is played a semitone below the note shown. The word flat is added to the note name.</ion-label>
       <ion-label>For a better understanding, look at the “D” on the keyboard above. If you lower it by one semitone, you land at the first black key to the left of middle “D”. The key is therefore also called “D flat”. The black key can be called “C sharp” or “D flat” depending on the perspective.</ion-label>
       <ion-label>Let’s take a look at this concept in the notation system.</ion-label>
       <ion-label>Look at the note “E” in the notation system above. As you can see, there is a b next to it, so it should be played a half step below the “E”. The note played is called “E flat” and corresponds to the first black key to the left of the “E”.</ion-label>
       <ion-label>Now, look at each note within an octave and look for the flat notes on the keyboard. There are five in total – one for each black key. Their names are:</ion-label>
       <ion-label>Db– Eb– Gb– Ab– Hb</ion-label>
       <ion-label>Congratulations, now you already learned the concept of sharp and flat notes!</ion-label>
       <ion-label>Recap:</ion-label>
       <ion-label>“C sharp” is the same black key as “D flat”</ion-label>
       <ion-label>“D sharp” is the same black key as “E flat”</ion-label>
       <ion-label>“F sharp” is the same black key as “G flat”</ion-label>
       <ion-label>“G sharp” is the same black key as “A flat”</ion-label>
       <ion-label>“A sharp” is the same black key as “B flat”</ion-label>
       <ion-label>This symbol # stands for sharp and this one b stands for flat!</ion-label>
       <ion-label>It’s best to practice this 15 minutes each day before you start playing songs. It makes sense to pronounce the name of a note while playing and listen carefully to the pitch of the note. Remember, however, that the black keys (and even some white keys) have two names each.</ion-label>
       <ion-label>You are welcome to test your knowledge in this little quiz.</ion-label>
       <ion-label>Quiz</ion-label>
       <ion-label>Is “F flat” a white or black key?</ion-label>
       <ion-label>a) white</ion-label>
       <ion-label>b) black</ion-label>
       <ion-label>Is “B sharp” a white or black key?</ion-label>
       <ion-label>a) white</ion-label>
       <ion-label>b) black</ion-label>
       <ion-label>Is “E flat” a white or black key?</ion-label>
       <ion-label>a) white</ion-label>
       <ion-label>b) black</ion-label>
       <ion-label>Is “C flat” a white or black key?</ion-label>
       <ion-label>a) white</ion-label>
       <ion-label>b) black</ion-label>
       <ion-label>Solutions</ion-label>
       <ion-label>a), a), b), a</ion-label>
       <ion-label2>Step 3: Learning note values on the piano</ion-label2><br>
       <ion-label>You have already made great progress in learning the piano and speaking the language of music – a language that all people can understand. It reaches directly into the heart of the human being and has its own special meaning for everyone. With the help of music, you can relieve stress or express something for which you cannot find words. It’s both an art form and a way of thinking. Music is a form of mathematics and also a science. By making music together you learn to work with others and to achieve a shared creative goal. Performing in front of an audience helps to reduce inhibitions when giving a presentation to a group of people.</ion-label>
       <ion-label>Now, the time has come to get to know the concepts of beats and bars. You can already name every note on the piano, and you know its location on the keyboard.You know the white keys and black keys – now we want to learn where the notes are placed in time so we can make music together!</ion-label>
       <ion-label>To make music, instead of just playing notes in random order, you need a kind of map that shows you which note is to be played when and for how long. Reading music sheets is similar to reading a hiking map. The hiking map shows the destination, the route you need to take, where you can rest, and for how long, in order to reach your destination in time. In the music, the sequence of notes provides the route; the bars and beats tell you where in time the notes are to be played.</ion-label>
       <ion-label>You can see the route of a piece of music in the notation system. The note lines are divided into small sections called “bars”. The bars are divided into even smaller segments called “beats”.</ion-label>
       <ion-label>This is the mathematical side of music theory. The sum of all beats in a bar must correspond to the value of the selected time signature. Let’s assume, for instance, a bar with a total value of 1, divided into four equal beats – what value does each beat represent? See questions and answers!</ion-label>
       <ion-label>Grading Exercises</ion-label>
       <ion-label>Questions and Answers</ion-label>
       <ion-label>Q: What is the individual value of 4 equal beats if they add up to 1?</ion-label>
       <ion-label>A: 1/4… 4 quarters added together make 1.</ion-label>
       <ion-label>F: What is the value of 8 equal beats if they add up to 1?</ion-label>
       <ion-label>A: In each case 1/8… 8 eighths added together make one.</ion-label>
       <ion-label>Q:What is the value of 16 equal beats if they add up to 1?</ion-label>
       <ion-label>A:In each case 1/16… 16 sixteenths added together make 1.</ion-label>
       <ion-label>Q: What is the value of 2 equal beats if they add up to 1?</ion-label>
       <ion-label>A:1/2… 2 halves added together make 1.</ion-label>
       <ion-label>Q: What is the value of 1 beat if the total is 1?</ion-label>
       <ion-label>A: One!</ion-label>
       <ion-label>Let’s summarize.</ion-label>
       <ion-label>There are beats with the following values:</ion-label>
       <ion-label>Quarter</ion-label>
       <ion-label>Eighth</ion-label>
       <ion-label>Sixteenth</ion-label>
       <ion-label>Half</ion-label>
       <ion-label>Whole</ion-label>
       <ion-label>A note in the notation system contains at least two pieces of information. The first, as you learned in the previous lesson, is its “pitch” (note name) – this results from the position of the note in the notation system.</ion-label>
       <ion-label>There are “C” notes, “D” notes, “F#” notes and so on. The second is its “rhythmic value” (note value) – this determines how long (or short) a note should be played. Similar to the beats, here are the note names:</ion-label>
       <ion-label>Quarter note</ion-label>
       <ion-label>Eighth note</ion-label>
       <ion-label>Sixteenth note</ion-label>
       <ion-label>Half note</ion-label>
       <ion-label>Whole note</ion-label>
       <ion-label>A note can be a “C” note, with the length of a quarter note, or it can be an “A#” note, with the length of a half note. Just remember that the description of a note in the notation system always contains two elements and that the sum of all note values in the bar must add together to equal the total value of the bar.</ion-label>
       <ion-label>As you can see in the graph, note heads can be filled or empty. You will also have noticed that some note heads have a stem, with or without flags. The appearance of the note tells you the note value. Here are a few examples:</ion-label>
       <ion-label>The quarter note has no flag and a filled out note head.</ion-label>
       <ion-label>The eighth note has a single flag and is filled in.</ion-label>
       <ion-label>The sixteenth note has a double flag and is filled in.</ion-label>
       <ion-label>The half note has no flag and is not filled in.</ion-label>
       <ion-label>The whole note has no stem and is not filled in.</ion-label>
       <ion-label>In summary, it can be said that notes can be described with at least three characteristics:</ion-label>
       <ion-label>Note names</ion-label>
       <ion-label>Note value</ion-label>
       <ion-label>Sharp or flat</ion-label>
       <ion-label>Great! You’re on your way to reading notes and playing the piano. Again, well done!</ion-label>
       <ion-label>Here comes the quiz:</ion-label>
       <ion-label>1. A whole note corresponds to ____ half notes together</ion-label>
       <ion-label>a) Two  b) Four c) Eight</ion-label>
       <ion-label>2. The note lines are divided into sections called ____.</ion-label>
       <ion-label>a) Chords b) Bars c) Verses</ion-label>
       <ion-label>3. Two eighths plus a quarter note correspond to one ____.</ion-label>
       <ion-label>a) Half note b) Dotted quarter note c) Dotted Half Note</ion-label>
       <ion-label>4. Two quarter notes plus one half note correspond to ____.</ion-label>
       <ion-label>a) An eighth note b) A whole note c) A triple eighth note</ion-label>
       <ion-label>Answers:</ion-label>
       <ion-label>1.a 2.b 3.a 4.b</ion-label>
       <ion-label2>Step 4: Everything about the beat</ion-label2><br>
       <ion-label>Take a look at the quarter notes in the graphic. What do you see?</ion-label>
       <img src="assets/4.jpg">
       <ion-label>Correct, you see four “F”-quarter notes, which together add up to a 4/4 bar with a length of 1. In this lesson we want to learn more about bars.</ion-label>
       <ion-label>But let us first take a closer look at the notation system. The five horizontal lines are called the “staff”. The symbol on the top staff is called the “treble clef”. This clef shows you what the right hand should play on the piano. The treble clef is indicated by the violin-like symbol on the left of the number 4/4.</ion-label>
       <ion-label>The symbol on the lower staff is called the “bass clef” and show you what the left hand should play on the piano. The symbol for this clef looks like an inverted C with 2 dots on the side.</ion-label>
       <ion-label>In the first bar, you will find the clef and the time signature. The time signature is always indicated at the beginning of the treble clef and bass clef alike. The graphic shows a 4/4 bar for both clefs (4 over 4). The upper number indicates the number of beats per bar, i.e. each bar is four beats long. The lower number gives you the “rhythmic name” (note value) of each of these beats in a bar. In a 4/4 bar, four quarter notes correspond to one bar. In other words, a bar is four quarter notes long.</ion-label>
       <ion-label>A bar can contain any combination of note values (quarter, eighth, sixteenth, half) as long as they add up to the total length of the bar. You can see how important mathematics is for music, so let’s freshen up our fractions a bit.</ion-label>
       <ion-label>The numbers (4/4) you see next to the clefs are called the “time signature”.</ion-label>
       <img src="assets/5.jpg">
       <ion-label>There are many different time signatures, for example 2/2, 2/4, 3/4 or 3/8. The 4/4 time signature in the graph corresponds to a bar with length 1, because 4/4=1. Four quarters added together make 1, but there are many more possible combinations.</ion-label>
       <ion-label>Time signatures in music – Examples</ion-label>
       <ion-label>Take a look at some examples of rhythmic divisions in 4/4:</ion-label>
       <ion-label>1 = 1 (1 whole note corresponds to one bar)</ion-label>
       <ion-label>1/2 + 1/2 = 1 (2 half notes together make one bar)</ion-label>
       <ion-label>1/4 + 1/4 + 1/4 + 1/4 = 1 (4 quarter notes together make one bar)</ion-label>
       <ion-label>1/8 + 1/8 + 1/8 + 1/8 + 1/8 + 1/8 + 1/8 + 1/8 = 1 (8 eighths notes added together make one bar)</ion-label>
       <ion-label>1/16 + 1/16 + 1/16 + 1/16 + 1/8 + 1/8 + 1/4 + 1/4 = 1 </ion-label>
       <ion-label>As you can see, basically any combination of notes is conceivable as long as they add up to a length of 1.</ion-label>
       <ion-label>So, that’s it for the moment. You can be proud of yourself because now you already know all the essential tools for reading and playing music.</ion-label>
       <ion-label>We will therefore use these tools in the next lesson. In later lessons you will get to know the concept of “key” – which, together with the concept of “time signature”, is essential for playing a piece. For the moment we want to remind you of all the tools you have learned so far.</ion-label>
       <ion-label>Recap</ion-label>
       <ion-label>Note names (incl. sharp and flat notes) on the piano</ion-label>
       <ion-label>Note names (incl. sharp and flat) of the notes in the notation system</ion-label>
       <ion-label>Note values of the notes in the notation system (quarter, eighth, sixteenth, half, whole)</ion-label>
       <ion-label>Time signature</ion-label>
       <ion-label>Treble clef (to be played with the right hand)</ion-label>
       <ion-label>Bass clef (to be played with the left hand)</ion-label>
       <ion-label2>Step 5: Bars and tempo in practice</ion-label2><br>
       <ion-label>As you already know, the time signature determines how many beats of a certain note value fit in a bar. Now you are ready to learn about the tempo, in other words how fast or how slow you should play. Listen to the audio sample.</ion-label>
       <ion-label>You can hear the tempo of the piece shown:</ion-label>
       <img src="assets/6.jpg">
       <ion-label>The tempo is expressed in beats per minute – every click you hear represents one beat. It clicks once per second, i.e. the tempo of this song is 60 beats per minute or “60 BPM”</ion-label>
       <ion-label>The bar number “4/4” tells you that the length of each bar must be four quarter notes long. The tempo tells you how fast the quarter notes should be played in time. Listen to the sound sample:</ion-label>
       <ion-label>Exercise: Follow the click sound carefully – each click corresponds to a quarter note. You can tap your thigh with every click sound with your hand, moving your eyes from one quarter note to the next – to the end. Then you can start all over again.</ion-label>
       <ion-label>Please repeat this exercise for at least 3 minutes to get a good feeling for the tempo of the beat.</ion-label>
       <ion-label>Congratulations!</ion-label>
       <ion-label>Do you know what you just did? You just learned to read notes and translate them into music. So far, you have only tapped the notes on your thighs, but soon you will play your first pieces on the piano!</ion-label>
       <ion-label>Time to call your friends, parents or loved ones and tell them that you have learned to read music!</ion-label>
       <ion-label2>Step 6: Learning to play a melody on the piano</ion-label2><br>
       <ion-label>You’ll need your piano/keyboard for the next lesson. As soon as you are finished, please play the audio sample﻿:</ion-label>
       <ion-label>In the previous lessons, you heard metronome clicks – now you will hear the sound of a piano. Every keystroke on the piano corresponds to a “click” – the note you are hearing is the “F” above middle “C”.</ion-label>
       <ion-label>Place the ring finger of your right hand on the “F” note of your keyboard. Remember how you can find the “F”? Starting with middle “C” as note one, it is the fourth white key on the right. If you need a refresher, please check lesson 1 again.</ion-label>
       <ion-label>Exercise: To tune in, play the “F” note a few times and then play along to the beat of the song. While you play, follow the “F” notes on the keyboard in the above graphic. Repeat this exercise until you feel secure, because this is how you train your ability to read and play notes.</ion-label>
       <ion-label>If you are unsure where to place your fingers, the following tool will help you to learn the piano. The following button will jump to the picture showing where middle C is. Use this as a point of orientation.</ion-label>
       <img src="assets/7.jpg">
       <ion-label>Look at the note lines first. What do you see? Correct! Two different quarter notes. The first is middle “C”, as you can see on the keyboard. It is repeated twice. The second note, also repeated twice, is an “F”. Now, please play the second audio sample:</ion-label>
       <ion-label>Now it’s your turn. Place the thumb of your right hand on the middle “C” of your piano. Now, place the ring finger of your right hand on the “F” note, i.e. right of the middle “C”. Play middle “C” twice in a row with your thumb, then play the “F” twice in a row with your ring finger. Repeat this exercise a few times, and you will notice that you are playing the same melody as in the audio sample.</ion-label>
       <ion-label>As before, try to read note by note on the staff at the same time. If you need more than three minutes, it doesn’t matter – just take your time. More important is that you practice until it feels natural to read and play notes at the same time.</ion-label>
       <ion-label>The ability to read and play notes at the same time is essential if you want to play directly from sheet music. You should also build up your sense of rhythm, so it is important that you play the notes at the same time as in the sample. Repeat the exercise as long as you need to be in sync with the melody</ion-label>
       <ion-label>Congratulations! In the last lesson you started reading and playing music at the same time, and now you have already played your first duet. A duet is where two people (in this case you and the computer) play a piece together.</ion-label>
       <ion-label>Your musical journey will gradually lead you to a better understanding and awareness of music. May this ongoing journey bring you much joy!</ion-label>
       <ion-label>In the following lessons, there will be further exercises for reading and playing music. You should always proceed as follows:</ion-label>
       <ion-label>1. Examine the time signature</ion-label>
       <ion-label>2. Determine the length of a bar</ion-label>
       <ion-label>3. Listen to the audio sample</ion-label>
       <ion-label>4. Follow the notes in the sheet music at the tempo of the audio sample…</ion-label>
       <ion-label>5. … and play!</ion-label>
       <ion-label>That’s it for this lesson – you did great!</ion-label>
       <ion-label2>Step 7: Fingering – where to put all your fingers?</ion-label2><br>
       <ion-label>Please note the hints on the keyboard that show you which finger plays the first note. They will make it easier to play.</ion-label>
       <ion-label>Fingerings help you to play music more easily. Fingering lets you know which fingers belong on which keys. Your hands will move more comfortably and more fluidly across the keyboard.</ion-label>
       <ion-label>Imagine you’re sitting in front of the piano. Hold your hands stretched out in front of you – palms down – and spread your fingers. Look to your left hand. Each finger is assigned a number between 1 and 5, with #5 assigned to the little finger, and the number #1 representing the thumb:</ion-label>
       <ion-label>What number do you think your index finger has? Right, #2!</ion-label>
       <ion-label>And what’s your ring finger’s number? Right, #4!</ion-label>
       <ion-label>What’s your middle finger’s number? #3!</ion-label>
       <ion-label>Learning the piano takes practice. At first, it is not easy to control each finger individually and to make it clear to your brain that only the muscles of one finger should be addressed. But, with a little practice, it will become second nature and you won’t have to think about it at all.</ion-label>
       <ion-label>Now look at your right hand – its fingers are numbered the same way as those of the left hand before:</ion-label>
       <ion-label>Thumb is #1</ion-label>
       <ion-label>Index finger is #2</ion-label>
       <ion-label>Middle finger is #3</ion-label>
       <ion-label>Ring finger is #4</ion-label>
       <ion-label>Little finger is #5</ion-label>
       <ion-label>Here, you can see the numbering of both hands again:</ion-label>
       <img src="assets/8.jpg">
       <ion-label>Now repeat the above exercise with your right hand.</ion-label>
       <ion-label2>Step 8: Playing the piano with both hands</ion-label2><br>
       <ion-label>In this lesson, we will combine everything we have learned so far. But don’t worry – we will carefully explain each step we take together.</ion-label>
       <ion-label>First, look at the notation. The notes for your right hand are shown on the upper staff, those for your left hand are on the staff below:</ion-label>
       <img src="assets/9.jpg">
       <ion-label>So, you will play the first bar with your left hand, the second with your right, and the third and fourth bars with both hands together. To get an idea of what the song sounds like, listen to the audio sample:</ion-label>
       <ion-label>Place finger #5 of your left hand on the low “C” of your keyboard. The low “C” is 7 white keys below middle “C”. If you don’t find low “C” immediately, look at the keyboard in the picture above – it is marked with the number 5.</ion-label>
       <ion-label>Now, place the finger #1 (your thumb) of your right hand on middle “C”, which is also marked with the number 1. Your hands are now in the correct starting position.</ion-label>
       <ion-label>In the third bar, you will have to adjust your finger positions. Finger #1 of the left hand changes to the note “A”, below middle “C”. Finger #3 of the right hand is on the note “A” above middle “C”. If you had left your fingers in their starting position, you wouldn’t have enough fingers left to play the notes beyond the third bar. Try it out for yourself!</ion-label>
       <ion-label>You now have a sense of what the song sounds like. Now it’s time to play it for yourself! Maybe start by playing the song for 5-10 minutes. This will help a lot to secure the coordination of left and right hands.</ion-label>
       <ion-label>Awesome! Your first two-handed piece was a big step forward. You also learned how important it is to put your fingers on the right keys. Well, let’s see how else music can be written to make it easier for the player.</ion-label>
       <ion-label>A lesson on music stems and beams</ion-label>
       <ion-label>First lets take a look at the song shown. What do you notice?</ion-label>
       <img src="assets/10.jpg">
       <ion-label>Exactly – it is the same song as before and is played exactly the same, but some notes look different</ion-label>
       <ion-label>The eighth notes are connected by a beam. Thus, the composer groups notes within one bar. This helps the player to follow the notes and visually divides the bar into sections.</ion-label>
       <ion-label>In general, eighth and sixteenth notes are connected by a beam. This makes it easier to keep track when there are many eighth and sixteenth notes in a bar. This is a good time to grab some blank manuscript and copy the notation. First, draw the circle for the head and then add the stem of the note, followed by the flag or, if appropriate, a bar line.</ion-label>
       <ion-label>As you already know, the notation system shows five lines for the bass clef and five lines for treble clef. If the note is below the middle (third) line, the stem of the note is drawn upwards. If the note is on or above the third line, the stem of the note is drawn downwards.</ion-label>
       <ion-label2>Step 9: Playing pauses</ion-label2><br>
       <ion-label>Take a sheet and copy the following rests:</ion-label>
       <img src="assets/11.jpg">
       <ion-label>In this overview, you can see each note and its corresponding rest. This means that the length of the note values and rest values are the same.</ion-label>
       <ion-label>In other words:</ion-label>
       <ion-label>The note value (or note length) of a quarter note is equal to that of a quarter rest.</ion-label>
       <ion-label>The note value of a half note is equal to that of a half rest.</ion-label>
       <ion-label>The note value of a whole note is equal to that of a whole rest.</ion-label>
       <ion-label>The note value of an eighth note is equal to that of an eighth rest.</ion-label>
       <ion-label>The note value of a sixteenth note is equal to that of a sixteenth rest.</ion-label>
       <ion-label>Rests are used by composers to indicate where not to play. The basic beat continues, but no note is heard during the rest. Before we look at a few examples, we would like to introduce some changes to the presentation so you don’t have to rely so much on hints.</ion-label>
       <img src="assets/12.jpg">
       <ion-label>As an introduction to the theory of rests, please listen to the audio sample audio sample an:</ion-label>
       <ion-label>Here, you can hear a typical example with quarter rests. First, note that this is a 4/4 bar. To give you a feeling of the tempo of the 4/4 time, we play four click notes at the beginning. This routine is also called “setting the beat”. Every musician must know what tempo is required to be able to play a piece. Please read below about the many ways this can be done..</ion-label>
       <ion-label2>Step 10: The Waltz and other types of music</ion-label2><br>
       <img src="assets/13.jpg">
       <ion-label>Maybe you already found similar ones in the songbook that you acquired? Some of them can be seen in the figure above.</ion-label>
       <ion-label>The time signature represents the length of a bar like you already learned when we talked about the 4/4 bar.</ion-label>
       <ion-label>A 3/4 bar indicates that the length of each bar equals 3 quarter notes. A 2/4 bar indicates that each bar has the length of 2 quarter notes. A 6/8 bar indicates that each bar has the length of 6 eighth notes.</ion-label>
       <ion-label>A 3/4 time is used for waltz</ion-label>
       <ion-label>A 2/4 time is used for march or polka</ion-label>
       <ion-label>A 6/8 time is used for a jig, or American march</ion-label>
       <ion-label>Below you will find a library of time signatures and examples of how they are played. How about a bite of music to whet your appetite?</ion-label>
       <ion-label>While the page with the time signatures loads, you can listen to the song  Take Five by Paul Desmond.</ion-label>
       <ion-label>The song is written in 5/4 time – therefore it consists of 5 quarter notes per bar. You also get a 5/4 bar when you combine a 2/4 bar with a 3/4 bar. Combining different time signatures is a common technique to create a unique rhythm.</ion-label>
       <ion-label>Waltz – 3/4</ion-label>
       <ion-label>March – 2/4</ion-label>
       <ion-label>Irish Jig – 6/8</ion-label>
       <ion-label>Half time (soccer)</ion-label>
       <ion-label>The best way to learn music styles that use different time signatures is to listen to them. If you hear them often enough, you can internally visualise them before you play them. For example, if you look at a piece in 3/4 time, simply remember a waltz that you’ve heard before. This gives you a good idea of how the song should sound before you play it. This is very important!</ion-label>
       <ion-label>Musical styles make it a lot easier for musicians to get an idea of how a song is supposed to be played.</ion-label>
       <ion-label>Let’s take a look at some of the most common types of music:</ion-label>
       <ion-label>Waltz in 3/4</ion-label>
       <ion-label>Jazz Waltz in 3/4</ion-label>
       <ion-label>Dixieland „Alla Breve“ (2/4), symbolised by a C with a line through it</ion-label>
       <ion-label>Polka in 4/4</ion-label>
       <ion-label>Polka „Alla Breve“ (2/4), symbolised by a C with a line through it</ion-label>
       <ion-label>Irish Jig in 6/8</ion-label>
       <ion-label>March in 4/4</ion-label>
       <ion-label>March „Alla Breve“ (2/4), symbolised by a C with a line through it</ion-label>
       <ion-label>Jazz Waltz in 5/4</ion-label>
       <ion-label>Bossa-Nova in 4/4</ion-label>
       <ion-label>Ballad in 4/4</ion-label>
       <ion-label>Ballad in 3/4</ion-label>
       <ion-label>Ballad in 6/8</ion-label>
       <ion-label>Swing in 4/4</ion-label>
       <ion-label>12 bar blues in 4/4</ion-label>
       <ion-label>There are hundreds of other styles, whether classical, latin american, oriental or folk music.</ion-label>
       <ion-label>You did great!</ion-label>
       <ion-label>Just for the fun of it, go back to the previous page and replay the different time signatures. Each example is played on the white keys, in other words without sharp or flat notes. Try it with your left hand, but don’t try too hard.</ion-label>
       <ion-label>It’s all about the fun of playing. We will return later to ear training and chords for the left hand.</ion-label>
       <ion-label2>Step 11: The correct finger position and playing techniques</ion-label2><br>
       <ion-label>The correct posture and playing techniques will help you to learn the piano efficiently</ion-label>
       <img src="assets/14.jpg">
       <ion-label>How about a little quiz?</ion-label>
       <ion-label>In the sheet music above you will find 16 bars, each missing one note.</ion-label>
       <ion-label>Your task is to find out which note is missing in each bar and write down the corresponding letter.</ion-label>
       <img src="assets/15.jpg">
       <ion-label>Draw all the notes with the same name and position on a sheet yourself. See, for example, the graphic above with all the “F” notes.</ion-label>
       <ion-label>Only draw those notes that lie between the lowest and highest note of the “large scale”. Please also make sure to insert the clefs – treble clefs and bass clefs at the beginning. You are free to choose the time signature.</ion-label>
       <img src="assets/16.jpg">
       <ion-label>You have already seen the group of “F” notes, now we continue with the other notes:</ion-label>
       <ion-label>1. Draw all “G” notes on the large scale</ion-label>
       <ion-label>2. Draw all “A” notes on the large scale</ion-label>
       <ion-label>3. Draw all “B” notes on the large scale</ion-label>
       <ion-label>4. Draw all “C” notes on the large scale</ion-label>
       <ion-label>5. Draw all “D” notes on the large scale</ion-label>
       <ion-label>6. Draw all “E” notes on the large scale</ion-label>
       <ion-label>As soon as you have found and grouped all the notes with the same note name, you continue with the topic of playing technique.</ion-label>
       <ion-label>The correct posture and finger position</ion-label>
       <ion-label>Remember our method of assigning a number to each finger? This was a tool to prevent your fingers from tripping over each other. For the finger technique to work, however, your hands must be correctly positioned.</ion-label>
       <img src="assets/17.jpg">
       <ion-label>Figure 1 shows the correct hand position: The back of the hand is parallel to the piano keys. Try it yourself! Hold your hand over the keyboard as shown in Figure 1.</ion-label>
       <ion-label>See how your forearm is parallel to the keyboard?</ion-label>
       <ion-label>When you’re ready, play a note. Remember that the anchor point is in your wrists and not your elbow. Therefore, only your wrist and of course your finger joint should move when you press the key. The movement is similar to scratching your leg. Try it again!</ion-label>
       <ion-label>Here are some more tips on posture:</ion-label>
       <ion-label>1. Your fingers should remain slightly curved under your hand.</ion-label>
       <ion-label>2. You should sit up straight like you’re typing a letter.</ion-label>
       <ion-label>3. Your arms should be relaxed.</ion-label>
       <ion-label>4. Your right foot should be higher than your left foot so that the heel can support your back position.</ion-label>
       <ion-label>That’s it for this lesson. Your motivation to learn the piano is to be highly commended! You studied all these lessons without a teacher to help you. Your self-initiative and passion will be invaluable in your quest to become a good piano player.</ion-label>
       <ion-label>One day, you will need the help of a mentor or teacher to refine your skills. But remember, you don’t learn to play the piano overnight, it’s a long journey.</ion-label>
       <ion-label2>Step 12: Staying in rhythm</ion-label2><br>
       <img src="assets/18.jpg">
       <ion-label>In this lesson, we will work on rhythm and timing – after all, playing the right note at the wrong time is still a mistake.</ion-label>
       <ion-label>There are many methods to memorize the beats. A common method uses numbers. For the 4/4 time, for example, you simply count from 1 to 4, each number representing a basic beat. If eighth notes occur in 4/4 time you need to add the word “and” after each number, like: “One and two and three and four and one…”. For sixteenth notes say “one, e and a, two, e and a…”, and for triplets say “one and the two and the…”.</ion-label>
       <img src="assets/19.jpg">
       <ion-label>It is more playful to assign syllables or even words to the notes, like the composer and music teacher Zoltán Kodály:</ion-label>
       <ion-label>Quarter notes: ta</ion-label>
       <ion-label>Half notes: ta-a</ion-label>
       <ion-label>Whole notes: ta-a-a-a</ion-label>
       <ion-label>Eighth notes: titi</ion-label>
       <ion-label>Sixteenth notes: tiri tiri</ion-label>
       <ion-label>Of course you can also use your own words, as long as the syllables match the rhythm</ion-label>
       <ion-label2>Step 13: Motivational tips when practicing becomes difficult</ion-label2><br>
       <img src="assets/20.jpg">
       <ion-label>If you should have any problems maintaining such a high level of motivation, here are 3 tips for you, which should put you back on track:</ion-label>
       <ion-label>1. Five minutes maximum: The last practice session didn’t go so well and you weren’t really motivated to sit down at the piano? Limit the playing time to 5 minutes! That is definitely doable, and you’ll feel better about what you did! (And maybe you will practice longer after all…)</ion-label>
       <ion-label>2. Listen to pianists: Youtube or Spotify – you are truly spoiled for choice. You wanted to listen to the soundtrack of the last movie you saw, didn’t you? After three songs at most you will want to press some keys again.</ion-label>
       <ion-label>3. You’ve earned a reward! For a 15-minute piano lesson, promise yourself an episode of your favorite series or the chocolate bar you’ve been sneaking around all day.</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
