<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/readSheet.jpg">
      <ion-card-title><h1>How To Read Notes (Beginner Piano Lesson)</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Have you ever heard a song on the radio and thought, “Hey, it’d be really cool to know how to play that?” Do you have friends who play musical instruments, and you want to join in on the fun? Do you want to expand your general artistic knowledge? Well, learning the basics of how to read sheet music can help you achieve all of these, and in a shorter amount of time than you might think!</ion-label>
   <ion-label>At its very simplest, music is a language just like you’d read aloud from a book. The symbols you see on pages of sheet music have been used for hundreds of years. They represent the pitch, speed, and rhythm of the song they convey, as well as expression and techniques used by a musician to play the piece. Think of the notes as the letters, the measures as the words, the phrases as the sentences, and so on. Learning how to read music really does open up a whole new world to explore!</ion-label>
   <ion-label>Follow our step-by-step introduction to reading music and, with a little practice, you’ll be playing along in no time. Keep reading to the end for some free tools and sheet music arrangements to help you learn.</ion-label>
  <ion-label2><b>How to Read Music</b></ion-label2> <br>
  <ion-label3>Step 1: Learn the Basic Symbols of Musical Notation</ion-label3>
  <ion-label>Music is made up of a variety of symbols, the most basic of which are the staff, the clefs, and the notes. All music contains these fundamental components, and to learn how to read music, you must first familiarize yourself with these basics.</ion-label>
  <ion-label3>The Staff</ion-label3>
  <ion-label>The staff consists of five lines and four spaces. Each of those lines and each of those spaces represents a different letter, which in turn represents a note. Sheet music notes, represented by lines and spaces, are named A-G, and the note sequence moves alphabetically up the staff.</ion-label>
  <img src="assets/staff.png"> 
  <ion-label3>Treble Clef</ion-label3>
  <ion-label>There are two main clefs with which to familiarize yourself; the first is a treble clef. The treble clef has the ornamental letter G on the far left side. The G’s inner swoop encircles the “G” line on the staff. The treble clef notates the higher registers of music, so if your instrument has a higher pitch, such as a flute, violin, or saxophone, your sheet music is written in the treble clef. Higher notes on a keyboard also are notated on the treble clef.</ion-label>
  <img src="assets/treble clef.png"> 
</ion-card-content>
  </ion-card>

</div>

</ion-content>
