<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button>   
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/5-of-The-First-Easiest-Songs-You-Should-Learn-on-Piano.jpg">
      <ion-card-title><h1>8 easy songs to learn on the piano for beginners</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>The following is a list that contains 5 easy songs that beginners can learn to play on the piano, including 3 bonus songs you hear on the radio. You should recognize them as I chose these songs in particular not only because they are easy to learn, but they are also popular as well. It is easier to learn how to play a song that you have heard before.</ion-label>
      <ion-label>Just don’t be too hasty and don’t get discouraged. Contrary to what others may say, nobody, can sit down and play the piano great without first learning and practicing, often easiest with piano lessons. Therefore, don’t expect too much when you are just starting out. It takes time even to play decent, but with a little effort, you can do it… anyone can, you just have to apply yourself.</ion-label>
      <ion-label2>1.chopsticks</ion-label2><br>
      <ion-label>What kind of a music teacher would I be if I didn’t suggest that students learn Chopsticks when it is the one song people — who are not even musicians — know how to play? It’s simple to learn, and easy to play with just two fingers.</ion-label>
      <ion-label2>2.twinkle twinkle little star/the alphabet song</ion-label2><br>
       <ion-label>In case you haven’t already noticed, these two songs are basically the same but with more or fewer notes. Therefore, if you learn one, you will also know the other. I know these are little kids songs, but learning them helps you to know the basics, so, these are great songs to start you off on your musical journey. It’s very easy to learn, and it’s probably already stamped in your head.</ion-label>
       <ion-label2>3. happy birthday to you</ion-label2><br>
       <ion-label>I know you know this one, everybody does. This is another song that is very easy to learn and play. Besides that, it will make you the life of the party when it comes time to sing “Happy Birthday,” and you play it on the piano while everyone sings along.</ion-label>
       <ion-label2>4. heart & soul</ion-label2><br>
       <ion-label>Many first time piano players start out with this song. It can also be played as a duet where two players sit side by side at the piano; one will play the chords (C-Amin-F-G) while the other contributes to the melody. To be honest, the chords I use to play this song are slightly different as I replace the F with D major: (C-Amin-D-G).</ion-label>
       <ion-label2>5. fur elise</ion-label2><br>
       <ion-label>This is always a fun song to learn and play. What I like most about playing this song is that, once you learn it and — can play it well — you can add in more notes to make it sound better and better as you grow.</ion-label>
       <ion-label2>6. tchaikovsky – swan lake theme</ion-label2><br>
       <ion-label>Although it may not seem so, this piece is also easy to learn using this specific tutorial. Remember to start easy and take your time. You don’t have to learn the whole song in one day. Even if it takes you all week, it will be worth it, when you are able to “awe” your friends while showing off your new piano-playing skills. The best way to learn a song with these tutorials is by taking it one part at a time. For example, watch and listen to the first few notes, then pause it, learn it, practice it, then learn the next part and repeat the process until you have learned the whole song. Take time out during the day to go over what you learned so you won’t forget.</ion-label>
       <ion-label2>7. the weeknd – blinding lights</ion-label2><br>
       <ion-label></ion-label>
       <ion-label2>8. coldplay x bts – my universe</ion-label2><br>
       <ion-label></ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
