<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-menu-button  color="light"></ion-menu-button>    
      <ion-title>Favourite</ion-title>
    </ion-buttons>
  <!-- SEARCH BAR -->
  <app-searchbar></app-searchbar>
  </div>
  <!-- <ion-segment value="Videos" >
  <ion-segment-button routerLink="/m-tutorial-article" value="Articles">
  <ion-label >Articles</ion-label>
  </ion-segment-button>
<ion-segment-button routerLink="/m-tutorial-video" value="Videos">
<ion-label>Videos</ion-label>
</ion-segment-button>
  </ion-segment> -->
</ion-header>

<ion-content>
<div class="main_content_div">
  <span *ngIf="segId=='Articles'">
    <div class="card_div" *ngFor="let item of articles">
      <div class="round_image bg_image" [style.backgroundImage]="'url('+item.img +')'">
      </div>
      <div class="content_div">
        <ion-label routerLink="{{item.link}}" color="#3880ff" detail class="title_lbl">{{item.name}}</ion-label>
        <i *ngIf=item.status class="fas fa-heart float-end" (click)="handleRemoveFromFavourite()"></i>
        <i *ngIf=!item.status class="far fa-heart float-end" (click)="handleAddToFavourite()"></i>
      </div>
    </div>
  </span>
  <ion-card *ngIf="showing1">
    <ion-card-header>
  <img src="assets/musicV1.gif" routerLink="/m-video1">

      <ion-card-title routerLink="/m-video1">How To Read Notes (Beginner Piano Lesson)</ion-card-title>
      <i *ngIf="addedToFavourite" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite()"></i>
      <i *ngIf="!addedToFavourite" class="far fa-heart float-end" (click)="handleAddToFavourite()"></i>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
  <img src="assets/pianoV1.gif"  routerLink="/p-video1">
      <ion-card-title routerLink="/p-video1">Learn To Play Piano Instantly: #1 Beginning Training (Pro Shortcuts)</ion-card-title>
      <i *ngIf="addedToFavourite2" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite2()"></i>
      <i *ngIf="!addedToFavourite2" class="far fa-heart float-end" (click)="handleAddToFavourite2()"></i>
    </ion-card-header>
  </ion-card>
  <ion-card> 
    <ion-card-header>
  <img src="assets/pianoV2.gif" routerLink="/p-video2">
      <ion-card-title routerLink="/p-video2">7 Days To Learning Piano (Beginner Lesson)</ion-card-title>
      <i *ngIf="addedToFavourite1" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite1()"></i>
      <i *ngIf="!addedToFavourite1" class="far fa-heart float-end" (click)="handleAddToFavourite1()"></i>
    </ion-card-header>
  </ion-card>
  <ion-item class="item-background-color" routerLink ="/sheet1">
    <ion-label>Nocturne Op 9 No 2</ion-label>
    <i *ngIf="addedToFavourite3" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite3()"></i>
    <i *ngIf="!addedToFavourite3" class="far fa-heart float-end" (click)="handleAddToFavourite3()"></i>
  </ion-item>
  <ion-item  class="item-background-color" routerLink ="/sheet7">
    <ion-label>The Very First Night Sheet Music Taylor Swift</ion-label>
    <i *ngIf="addedToFavourite4" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite4()"></i>
    <i *ngIf="!addedToFavourite4" class="far fa-heart float-end" (click)="handleAddToFavourite4()"></i>
  </ion-item>
  <ion-item  class="item-background-color"  routerLink ="/sheet8">
    <ion-label>Silence Sheet Music Marshmello feat Khalid</ion-label>
    <i *ngIf="addedToFavourite5" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite5()"></i>
    <i *ngIf="!addedToFavourite5" class="far fa-heart float-end" (click)="handleAddToFavourite5()"></i>
  </ion-item>
</div>

</ion-content>
