<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuID="main-menu" contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header-bg"></div>
        <div class="header-content">
          <img src="assets\Easy_Piano.jpg"  alt ="">
          <ion-lbael>
            <h2>Easy Piano</h2>
          </ion-lbael>
        </div>
        <ion-list class="menu-items" line="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="active">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
