<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button>   
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/piano-chords-for-beginners-1584057941.jpg">
      <ion-card-title><h1>PIANO CHORDS FOR BEGINNERS</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Chords define the harmony of a song, and are made by playing more than one note at the same time. They can be simple or complicated, but even beginner piano chords can create fun and exciting music. In fact, there are very few songs that don’t use chords in some way, especially in rock music!</ion-label>
      <ion-label2>COMMON PIANO CHORDS CHART</ion-label2><br>
      <ion-label>When it comes to playing the piano, pianists have thousands of chords to select from, with some chords being more popular than others. Check out some of the most common chords in the piano chord chart below, or keep reading to find out more about piano chords.</ion-label>
      <ion-label>The most common piano chords include:</ion-label>
       <ion-label>1. A major (A). A - C# - E</ion-label>
       <ion-label>2. A minor (Am). A - C - E</ion-label>
       <ion-label>3. C major (C). C - E - G</ion-label>
       <ion-label>4. C minor (Cm). C - Eb - G</ion-label>
       <ion-label>5. D major (D). D - F# - A</ion-label>
       <ion-label>6. D minor (Dm). D - F - A</ion-label>
       <ion-label>7. E major (E). E - G# - B</ion-label>
       <ion-label>8. E minor (Em). E - G - B</ion-label>
       <ion-label>9. F major (F). F - A - C</ion-label>
       <ion-label>10. F minor (Fm). F - Ab - C</ion-label>
       <ion-label>11. G major (G). G - B - D</ion-label>
       <ion-label>12. G minor (Gm). G - Bb - D</ion-label>
       <img src="assets/most-common-basic-piano-chords-1584058302.png">
       <ion-label2>WHAT IS A PIANO CHORD?</ion-label2><br>
       <ion-label>A chord is created when more than one note is played at once, and contains two, three, or more individual notes. On the piano, this means you push down more than one key at the same time.</ion-label>
       <ion-label>All piano chords contain a root note -- this is the note the chord is named after -- as well as one or more additional notes. Basic piano chords often consist of only two or three notes, while the more advanced chords tend to incorporate even more notes.</ion-label>
       <ion-label>The most common type of keyboard or piano chord is a triad, or three-note chord. A triad contains a root note and two other notes, most often the notes that produce the intervals of a third and fifth above the root note.</ion-label>
       <ion-label>One way to get the basic shape of a triad is to place your thumb and fingers on adjacent white keys and push down with your thumb, middle finger and pinky. Learning this technique will set you up to play various basic piano chords with ease.</ion-label>
       <ion-label2>WHAT ARE PIANO INTERVALS?</ion-label2><br>
       <ion-label>The distance between piano notes, called an interval, determines how they sound when played together. Intervals are measured in half-steps and whole-steps.</ion-label>
       <ion-label>Half-steps. A half-step is the distance from one key to the next key immediately to its right or left.</ion-label>
       <ion-label>Whole-steps. A whole-step is the distance of two half-steps.</ion-label>
       <ion-label>Common intervals. A common interval used in piano chords is the major third, which is the distance of two whole-steps or four half-steps.</ion-label>
       <ion-label2>WHAT ARE THE STANDARD PIANO NOTES?</ion-label2><br>
       <ion-label>Piano notes  follow a pattern of black and white keys, with a group of two black keys close together followed by a group of three black keys close together. This pattern repeats across the keyboard, and we use it to identify the notes.</ion-label>
       <ion-label>Each of the white keys is assigned a letter name from A to G, and each of the black keys is called a sharp or flat.</ion-label>
       <ion-label2>WHAT ARE SHARP AND FLAT PIANO NOTES?</ion-label2><br>
       <ion-label>Sharp or flat piano notes are named for what letter name they’re immediately above (to the right on the keyboard) or below (to the left).</ion-label>
       <ion-label>READING SHARP PIANO NOTES</ion-label>
       <ion-label>The black key immediately to the right of the key “C” is called “C#,” pronounced “c sharp.”</ion-label>
       <ion-label>READING FLAT PIANO NOTES</ion-label>
       <ion-label>The black key immediately to the left of “B” is called “Bb,” pronounced “b flat.”</ion-label>
       <ion-label2>WHAT IS A PIANO CHORD?</ion-label2><br>
       <ion-label>This piano note chart introduces all the different notes you’ll find on your keyboard, and is essential for understanding how the space between the notes you play will determine the type of piano chord that is produced.</ion-label>
       <img src="assets/piano-notes-chart-1584058570.png">
       <ion-label2>WHAT ARE MAJOR PIANO CHORDS?</ion-label2><br>
       <ion-label>The most common triad, or three-note chord, is the major chord. Their popularity and versatility make them great piano chords for beginners to learn first.</ion-label>
       <ion-label><b>HOW DO YOU PLAY A MAJOR CHORD ON THE PIANO?</b></ion-label>
       <ion-label>To play a major chord, begin by choosing a root note, which can be any of the keyboard notes From the root note, count up two whole steps. This note is the “third,” named for being the third note in the key beginning with the root note. From the third, count up one-and-a-half steps, or three half steps. This note is the “fifth.”</ion-label>
       <ion-label>When you play these three keyboard notes together, you hear a major triad, which has a happy sound. Major keyboard chords are used in almost every rock and pop song.</ion-label>
       <ion-label>Common major piano chords include:</ion-label>
       <ion-label>1. C major (C). C - E - G</ion-label>
       <ion-label>2. C# major (C#). C# - E# - G#</ion-label>
       <ion-label>3. D major (D). D - F# - A</ion-label>
       <ion-label>4. Eb major (Eb). Eb - G - Bb</ion-label>
       <ion-label>5. E major (E). E - G# - B</ion-label>
       <ion-label>6. F major (F). F - A - C</ion-label>
       <ion-label>7. F# major (F#). F# - A# - C#</ion-label>
       <ion-label>8. G major (G). G - B - D</ion-label>
       <ion-label>9. Ab major (Ab). Ab - C - Eb</ion-label>
       <ion-label>10. A major (A). A - C# - E</ion-label>
       <ion-label>11. Bb major (Bb). Bb - D - F</ion-label>
       <ion-label>12. B major (B). B - D# - F#</ion-label>
       <img src="assets/major-piano-chords-chart-1584058748.png">
       <ion-label><b>WHAT ARE INTERVALS CALLED IN A MAJOR SCALE?</b></ion-label>
       <ion-label>The intervals in a major chord are called a “major third,” the distance from the root note to the third, and a “perfect fifth,” the distance from the root to the fifth. We counted the steps from the root to the third and the third to the fifth. To find the interval of a perfect fifth above the root note, count three-and-a-half steps, or a total of seven half-steps.</ion-label>
       <ion-label2>WHAT ARE MINOR PIANO CHORDS?</ion-label2><br>
       <ion-label>Minor chords, like major chords, contain three basic keyboard notes, a root note, third, and fifth. To play a minor chord, select any root note, then count three half-steps up to the third. From the third, count two whole-steps (or four half steps) to find the fifth. </ion-label>
       <ion-label>Minor chords are also very common in rock and pop music. “Comfortably Numb” is an example of a rock song that begins with a minor chord. Most rock and pop songs use a mixture of major and minor piano chords.</ion-label>
       <ion-label>The third interval in a minor chord is called a “minor third.” The fifth interval in a minor chord is the same as in a major chord, the interval of a “perfect fifth.”</ion-label>
       <ion-label>Common minor piano chords include:</ion-label>
       <ion-label>1. C minor (Cm). C - Eb - G</ion-label>
       <ion-label>2. C# minor (C#m). C# - E - G#</ion-label>
       <ion-label>3. D minor (Dm). D - F -A</ion-label>
       <ion-label>4. Eb minor (Ebm). Eb - Gb - Bb</ion-label>
       <ion-label>5. E minor (Em). E - G - B</ion-label>
       <ion-label>6. F minor (Fm). F - Ab - C</ion-label>
       <ion-label>7. F# minor (F#m). F# - A - C#</ion-label>
       <ion-label>8. G minor (Gm). G - Bb - D</ion-label>
       <ion-label>9. Ab minor (Abm). Ab - Cb - Eb</ion-label>
       <ion-label>10. A minor (Am). A - C - E</ion-label>
       <ion-label>11. Bb minor (Bbm). Bb - Db - F</ion-label>
       <ion-label>12. B minor (Bm). B - D - F#</ion-label>
       <img src="assets/minor-piano-chords-chart-1584058895.png">
       <ion-label2>WHAT ARE DIMINISHED PIANO CHORDS?</ion-label2><br>
       <ion-label>The diminished triad uses a minor third, and a lowered fifth, called a “diminished fifth.” A diminished fifth is three whole-steps, or six half-steps, above the root note. To find the notes of a diminished chord, count a step-and-a-half from the root to the third, and then a step-and-a-half from the third to the fifth. </ion-label>
       <ion-label><b>ARE DIMINISHED CHORDS USED IN ROCK SONGS?</b></ion-label>
       <ion-label>Diminished keyboard chords are less common than major and minor chords, but are still frequently used in rock and pop songs. They have a spooky, tense sound. The most common use of a diminished chord is to transition between two other, more stable-sounding chords. You can hear a diminished chord used in this way in the song “God Only Knows” by The Beach Boys.</ion-label>
       <ion-label>Common diminished piano chords include:</ion-label>
       <ion-label>1. C diminished (Cdim). C - Eb - Gb</ion-label>
       <ion-label>2. C# diminished (C#dim). C# - E - G</ion-label>
       <ion-label>3. D diminished (Ddim). D - F - Ab</ion-label>
       <ion-label>4. D# diminished (D#dim). D# - F# - A</ion-label>
       <ion-label>5. E diminished (Edim). E - G - Bb</ion-label>
       <ion-label>6. F diminished (Fdim). F - Ab - Cb</ion-label>
       <ion-label>7. F# diminished (F#dim). F# - A - C</ion-label>
       <ion-label>8. G diminished (Gdim). G - Bb - Db</ion-label>
       <ion-label>9. G# diminished (G#dim). G# - B - D</ion-label>
       <ion-label>10. A diminished (Adim). A - C - Eb</ion-label>
       <ion-label>11. A# diminished (A#dim). A# - C# - E</ion-label>
       <ion-label>12. B diminished (Bdim). B - D - F</ion-label>
       <img src="assets/diminished-piano-chords-chart-1584059030.png">
       <ion-label2>WHAT ARE DIMINISHED PIANO CHORDS?</ion-label2><br>
       <ion-label>Augmented chords use a major third and a raised, or “augmented fifth.” The interval of an augmented fifth is four whole-steps, or eight half-steps up from the root note. Augmented chords have a very distinct, unusual sound to most peoples’ ears.</ion-label>
       <ion-label>Like diminished chords, augmented chords are most often used to transition between more stable sounds in rock and pop music. One example of this is the song “Crying” performed by Roy Orbison, where an augmented chord is used in the prechorus.</ion-label>
       <ion-label>Common augmented piano chords include:</ion-label>
       <ion-label>1. C augmented (Caug). C - E - G#</ion-label>
       <ion-label>2. C# augmented (C#aug). C# - E# - G##</ion-label>
       <ion-label>3. D augmented (Daug). D - F# - A#</ion-label>
       <ion-label>4. D# augmented (D#aug). D# - F## - A##</ion-label>
       <ion-label>5. E augmented (Eaug). E - G# - B#</ion-label>
       <ion-label>6. F augmented (Faug). F - A - C#</ion-label>
       <ion-label>7. F# augmented (F#aug). F# - A# - C##</ion-label>
       <ion-label>8. G augmented (Gaug). G - B - D#</ion-label>
       <ion-label>9. G# augmented (G#aug). G# - B# - D##</ion-label>
       <ion-label>10. A augmented (Aaug). A - C# - E#</ion-label>
       <ion-label>11. A# augmented (A#aug). A# - C## - E##</ion-label>
       <ion-label>12. B augmented (Baug). B - D# - F##</ion-label>
       <img src="assets/augmented-piano-chords-chart-1584059168.png">
       <ion-label2>READY TO PLAY PIANO?</ion-label2><br>
       <ion-label>Learning the different types of chords and how to play them on the piano is a lot of fun, and opens up doors to understanding and playing all types of music. As you learn more songs, and even write your own, you’ll find endless combinations of piano or keyboard chords that create different sounds and moods. </ion-label>
       <ion-label>At School of Rock, our students are able to learn theory, apply what they learn to their instrument, rehearse with a band, and then get on stage and perform a rock concert! Piano lessons are a great way to learn to play and understand music, although, without a concrete goal to work toward, it’s common for piano and keyboard students to only learn the most basic piano chords or parts of songs.</ion-label>
       <ion-label>Having a concert to perform with your friends at School of Rock is an effective way to motivate yourself to practice hard, learn songs from beginning to end, and achieve a personal best each season.</ion-label>





      </ion-card-content>
  </ion-card>

</div>

</ion-content>
