<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button>   
      <ion-title>Tutorial</ion-title>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/pArticle1.jpg">
      <ion-card-title><h1>Piano for Complete Beginners: 5 tips to get you started</h1></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label2>1. Learn your way around the keyboard</ion-label2>
      <ion-label>First things first, we need to get you familiar with the piano. If you are lucky enough to own a piano, go ahead and sit down by it. If not, save the below image and print off to use as a guide.</ion-label>
      <img src="assets/keyboard1.jpg"> 
      <ion-label>Your piano is made up of notes. A note is a symbol representing the pitch of sound that comes out of the instrument you are playing.

        On your piano, you will see a pattern of TWO black notes, followed by THREE black notes – over and over – with white notes in between. In this lesson, we are only going to focus on the WHITE notes. You’ll notice that the notes are in alphabetical order from A to G, which repeat up the piano in cycles. What’s confusing is that the note C is officially the beginning of the cycle. Confusing, I know! Each cycle consists of EIGHT notes – C, D, E, F, G, A, B and C again.
        
        For this lesson, we are just going to focus on 1 cycle of eight notes. See below.</ion-label>
        <img src="assets/keyboard2.jpg"> 
        <ion-label>Here are some tips on how to start memorising the placement of the notes:</ion-label>

          <ion-label>- To the LEFT of the two black notes is C</ion-label>
          
          <ion-label>- To the RIGHT of the two black notes is E</ion-label>
          
          <ion-label>- To the LEFT of the three black notes is F</ion-label>
          
          <ion-label>- To the RIGHT of the three black notes is B</ion-label>
          
          <ion-label>The three notes we are yet to cover are D, G, and A.</ion-label>
          
        <ion-label> You will see above that these fall in between the black notes. Have a go at the exercise below. This will help strengthen your knowledge of where the notes are on the keyboard.</ion-label>
</ion-card-content>
  </ion-card>

</div>

</ion-content>
