<ion-header>
  <div class="grad_back">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button color="light"></ion-back-button> 
      <ion-title>Romance</ion-title>
      <ion-button slot="end">
        <i *ngIf="addedToFavourite" class="fas fa-heart float-end" (click)="handleRemoveFromFavourite()"></i>
        <i *ngIf="!addedToFavourite" class="far fa-heart float-end" (click)="handleAddToFavourite()"></i>
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content>
<div class="main_content_div">
  <ion-card>
    <ion-card-header>
      <img src="assets/Rom p1.jpg">

      <ion-card-title>Song Info</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
 <p>  Title: Romance</p>
 <p> Artist: Kozeluch</p>
 <p>  Key: C</p>
 <p>  Metronome: 60</p>
 <p>  Styles:	Classical</p>
 <p> Difficulty: Medium</p>
 <p> Page: 1</p>
 <iframe width="300" height="315" src="https://www.youtube.com/embed/aeU00u_yLsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

</div>

</ion-content>
